.env
node_modules
dist/
src/.DS_Store
.DS_Store
chrono-forge-old
/coverage
src/workflows/prototypes/*
keys/*
src/tests/testData/*
tsconfig.tsbuildinfo
*.cpuprofile
*.cpuprofile.gz
*.cpuprofile.json
*.cpuprofile.json.gz
*.cpuprofile.json.gz.part
*.cpuprofile.json.gz.part.1
*.cpuprofile.json.gz.part.2